body {
    height: 2000px;
}


.table_one {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    text-transform: uppercase;
    outline: 30px solid #3A4965;
    position: absolute;
    left: 30px;
    top: 30px;
}
th, td {
    border-left: 1px solid #cecece;
}
.header_one th {
    vertical-align: middle;
    font-weight: 700;
}
.prc_plan_one {
    color: #484848; 
    background-color: #FAFAFA;
}
.prc_plan_one p:first-of-type {
    font-size: 18px;
    line-height: 28px;
}
.prc_plan_one p:last-of-type {
    font-size: 30px;
    line-height: 28px;
}
.header_one th:nth-last-child(-n+3) {
    color: #FFFFFF;
    height: 73px;
    font-size: 24px;
    line-height: 28px;
}


.cost_one th {
    color: #484848;
    height: 89px;
    vertical-align: bottom;
    background-color: #FAFAFA;
    position: relative;
}
.cost_one th :first-child {
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    position: absolute;
    top:33px;
    left:26px;
}
.cost_one th :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top:12px;
    left:134px;  
}
.cost_one th :last-child {
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    top:38px;
    left:134px;
}
.body_one tr td {
    height: 73px;
    vertical-align: middle;
    color: #484848;
}
.body_one tr:nth-child(even) {
    background-color: #E3E3E3;
}
.body_one tr:nth-child(odd) {
    background-color:#F2F2F2;
}
.storage {
    position: relative;
}
.storage td::before {
    content: "";
    background: url('../img/storage.svg') no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:90px;
    top: 20px;
}
.bandw {
    position: relative;
}
.bandw td::before {
    content: "";
    background: url('../img/bandw.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:80px;
    top: 20px;
}
.email {
    position: relative;
}
.email td::before {
    content: "";
    background: url('../img/email.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:100px;
    top: 20px;
}
.supp {
    position: relative;
}
.supp td::before {
    content: "";
    background: url('../img/support.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:90px;
    top: 20px;
}
.prod {
    position: relative;
}
.prod td::before {
    content: "";
    background: url('../img/products.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:85px;
    top: 20px;
}
.users {
    position: relative;
}
.users td::before {
    content: "";
    background: url('../img/users.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:100px;
    top: 20px;
}
tfoot tr td {
    height: 110px;
    vertical-align: middle;
} 
.table_one a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 54px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    left: 40px;
}
.footer td:first-of-type a {
    background-color: #484848;
}
.footer td:first-of-type a:hover {
    background-color: #2c2c2c;
}
.footer td:nth-of-type(2) a {
    background-color: #89C331;
}
.footer td:nth-of-type(2) a:hover {
    background-color: #6fa027;
}
.footer td:nth-of-type(3) a {
    background-color: #F04A56;
}
.footer td:nth-of-type(3) a:hover {
    background-color: #c53942;
}
.footer td:nth-of-type(4) a {
    background-color: #20807C;
}
.footer td:nth-of-type(4) a:hover {
    background-color: #196b68;
}

.footer td:first-of-type {
    background-color: #DDDDDD;
}
.footer td:nth-of-type(2) {
    background-color:#EEEEEE;
}
.footer td:nth-of-type(4) {
    background-color:#EEEEEE;
}













.table_two {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    text-transform: uppercase;
    outline: 30px solid #3A4965;
    position: absolute;
    left: 30px;
    top: 900px;
}
th, td {
    border-top: 1px solid #cecece;
} 
.header_two {
    color: #484848;
    height: 115px;
    position: relative;
}
.header_two::after {
    content: "";
    background-color:  #3A4965;
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    top: 100px;
}
.header_two th {
    vertical-align: middle;
    font-weight: 700;
    position: relative;
    font-size: 24px;
    line-height: 28px;
}
.prc_plan_two p:first-of-type {
    font-size: 14px;
    line-height: 28px;
 }
 .prc_plan_two p:last-of-type {
     font-size: 20px;
     line-height: 28px;
 }
.storage_two::before {
    content: "";
    background: url('../img/storage.svg') no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:65px;
    top: 20px;
 }
.bandw_two::before {
    content: "";
    background: url('../img/bandw.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 65px;
    top: 20px;
}
.email_two::before {
    content: "";
    background: url('../img/email.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 65px;
    top: 20px;
}
.supp_two::before {
    content: "";
    background: url('../img/support.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 65px;
    top: 20px;
 }
.prod_two::before {
    content: "";
    background: url('../img/products.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 65px;
    top: 20px;
}
.users_two::before {
    content: "";
    background: url('../img/users.svg')no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 65px;
    top: 20px;
}
.body_two_standart :first-child {
    background-color: #89C331;
}
.body_two_ultimate :first-child {
    background-color: #F04A56;
}
.body_two_premium :first-child {
    background-color: #20807C;
}
.body_two tr td {
    height: 170px;
    vertical-align: middle;
}
.first_item {
   color: #FFFFFF;
   font-weight: 700;
   position: relative;
}
.first_item span:first-child {
    font-size:24px;
    position: absolute;
    left: 0;
    right: 0;
    top: 23px;
}
.first_item span:nth-child(2) {
    font-size:36px;
    position: absolute;
    left: 25px;
    bottom: 73px;
}
.first_item span:nth-child(3) {
    font-size:18px;
    position: absolute;
    left: 67px;
    bottom: 90px;
}
.first_item span:nth-child(4) {
    font-size:14px;
    position: absolute;
    left: 100px;
    bottom: 83px;
}
.first_item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 44px;
    font-size: 16px;
    line-height: 16px;
    background-color: #484848;
    border-radius: 4px;
    text-transform: uppercase;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-decoration: none;
    color: #FFFFFF; 
}
.first_item a:hover {
    background-color: #2c2c2c;
}




